---
---

@import "{{ site.theme }}";

.project-name {
  text-transform: capitalize;
}

.page-header {
  background-image: url(https://image.freepik.com/vrije-photo/kopi-luwak-of-civet-coffee-koffiebonen-uitgescheiden-door-de-civet_37874-600.jpg);
  background-size: cover;
}