---
---

@import "{{ site.theme }}";

.project-name {
  text-transform: capitalize;
}

.page-header {
  background-color: white;
  background-image: none;
  position: relative;
}
.page-header > * {
  position: relative;
}
.page-header:before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/55/Luwak_coffee_beans.jpg);
  background-size: cover;
  position: absolute;
  filter: blur(3px);
}

h3 {
    font-size: 1.3em;
}

.highlight .s {
    color: #3fa73d;
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

h3#credits + p + p {
  font-size: .9em;
}

.site-footer {
  display: none;
}
